

services:
  db:
    image: postgres:17.4
    restart: always
    environment:
      POSTGRES_USER: Lab1-EMT
      POSTGRES_PASSWORD: Lab1-EMT
      POSTGRES_DB: book_rental
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "9095:9090"
    depends_on:
      - db
    environment:
      SPRING_PROFILES_ACTIVE: docker
    restart: always

  frontend:
    build:
      context: ./frontend/book-rental-ui
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - app
    restart: always

volumes:
  pgdata:
