apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: kiii
data:
  SPRING_PROFILES_ACTIVE: "docker"
  SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres-db:5432/book_rental"
---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: kiii
type: Opaque
data:
  SPRING_DATASOURCE_USERNAME: TGFiMS1FTVQ=
  SPRING_DATASOURCE_PASSWORD: TGFiMS1FTVQ=
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: kiii
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: isidoraaleksicc/kiii-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 9090
          env:
            - name: SPRING_PROFILES_ACTIVE
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: SPRING_PROFILES_ACTIVE

            - name: SPRING_DATASOURCE_URL
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: SPRING_DATASOURCE_URL

            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: backend-secret
                  key: SPRING_DATASOURCE_USERNAME

            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: backend-secret
                  key: SPRING_DATASOURCE_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: kiii
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 9090
      targetPort: 9090
  type: ClusterIP
